<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>SpringIn Movies 还记得许多年前的春天吗？</title>
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/common.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/index.min.css}" />
</head>
<body>
<div class="layout">


    <!--===========layout-container================-->
    <div class="layout-container" th:fragment="main_content">
        <div class="index-page">
            <div data-am-widget="tabs" class="am-tabs am-tabs-default">
                <div class="am-tabs-bd">
                    <div data-tab-panel-0="" class="am-tab-panel am-active">
                        <div class="index-banner">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">唐人街探案 2</h1>
                                            <p class="slide_simple--text am-text-left">
                                                唐仁为巨额奖金欺骗秦风到纽约参加世界名侦探大赛。唐人街第一神探组合再次披挂，抽丝剥茧，冒着生命危险闹翻宇宙中心-纽约&nbsp;&nbsp;&nbsp;&nbsp;“唐人街第一神探”的招牌岌岌可危？
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">点击观看</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab-panel-1="" class="am-tab-panel ">
                        <div class="index-banner1">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">红海行动</h1>
                                            <p class="slide_simple--text am-text-left">
                                                中国海军“蛟龙突击队”8人小组奉命执行撤侨任务，突击队兵分两路进行救援，但不幸遭到伏击，人员伤亡；同时在粉碎叛军武装首领的惊天阴谋中惨胜的故事
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">点击观看</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab-panel-2="" class="am-tab-panel ">
                        <div class="index-banner2">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">英雄本色</h1>
                                            <p class="slide_simple--text am-text-left">
                                                该片讲述了宋子豪、Mark、宋子杰三人之间的江湖情以及三个主人公各自的挫折、失败、忏悔和报复
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">点击观看</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab-panel-3="" class="am-tab-panel ">
                        <div class="index-banner3">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">肖申克的救赎</h1>
                                            <p class="slide_simple--text am-text-left">
                                                该片中涵盖全片的主题是“希望”，全片透过监狱这一强制剥夺自由、高度强调纪律的特殊背景来展现作为个体的人对“时间流逝、环境改造”的恐惧。影片的结局有《基督山伯爵》式的复仇宣泄。
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">点击观看</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="am-tabs-nav am-cf index-tab">
                    <li class="am-active">
                        <a href="[data-tab-panel-0] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-cog"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">唐人街探案2</strong>
                                <p class="promo_slider_nav--item_description">唐人街神探在纽约</p>
                            </div>
                        </a>
                    </li>
                    <li class="a">
                        <a href="[data-tab-panel-1] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-lightbulb-o"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">红海行动</strong>
                                <p class="promo_slider_nav--item_description">反恐 我们来真的</p>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a href="[data-tab-panel-2] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-line-chart"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">英雄本色</strong>
                                <p class="promo_slider_nav--item_description">对！ 这就是小马哥</p>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a href="[data-tab-panel-3] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-hourglass-end"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">肖申克的救赎</strong>
                                <p class="promo_slider_nav--item_description">get busy living?get busy dying？</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <div class="section" th:fragment="helper">
        <div class="container">
            <div class="section--header">
                <h2 class="section--title">恐怖电影</h2>
                <!--<p class="section&#45;&#45;description">-->
                    <!--致力于寻找你最爱的电影-->
                    <!--<br/>获得了阿里巴巴以及bilibili的扶持，陆金所资本、天创资本等国际顶级风投机构的投资。-->
                <!--</p>-->
            </div>

            <!--index-container start-->
            <div class="index-container">

                <div class="index-container"  style="display: inline-table;float:left" th:each="movies:${movies}">
                    <div class="am-g" >
                        <div class="am-u-md-3">
                            <div class="features_item" >
                                <img th:src="@{/assets/images/index/f01.jpg}" alt="" th:id="${movies.id}"/>
                                <h3 class="features_item--title" ><a  th:href="${'/movie/movies/movieDetails/'+movies.id}" th:text="${movies.movie_name}"></a></h3>

                            </div>
                        </div>
                    </div>
                </div>



                <div style="height: 250px;"></div>


                <div class="index-more">
                    <button type="button" class="am-btn am-btn-secondary">MORE&nbsp;&nbsp;>></button>
                </div>
                <div style="height: 30px;"></div>
            </div>
            <!--index-container end-->
        </div>
    </div>

</div>

<!--promo_detailed start-->

<!--promo_detailed end-->

<div class="section"  style="border-bottom: 1px solid #e9e9e9;" th:fragment="footer1">
    <div class="container">


        <!--index-container start-->
        <div class="index-container">
            <div class="am-g">
                <div class="am-u-md-4">
                    <div class="contact_card">
                        <i style="color:#59bcdb" class="contact_card--icon am-icon-phone"></i>
                        <strong class="contact_card--title">Contact Us</strong>
                        <p class="contact_card--text">Feel free to call us on <br/> <strong>0 (123) 456-7890</strong> <br/> Monday - Friday, 8am - 7pm</p>
                        <button type="button" class="am-btn am-btn-secondary">Order a Call Back</button>
                    </div>
                </div>
                <div class="am-u-md-4">
                    <div class="contact_card">
                        <i style="color:#59bcdb" class="contact_card--icon am-icon-envelope-o"></i>
                        <strong class="contact_card--title">Our Email</strong>
                        <p class="contact_card--text">Drop us a line anytime at <br/> <strong><a href="mailto:springIn@126.com">springIn@126.com</a>,</strong> <br/> and we’ll get back soon.</p>
                        <button type="button" class="am-btn am-btn-secondary">Start Writing</button>
                    </div>
                </div>
                <div class="am-u-md-4">
                    <div class="contact_card">
                        <i style="color:#59bcdb" class="contact_card--icon am-icon-map-marker"></i>
                        <strong class="contact_card--title">Our Address</strong>
                        <p class="contact_card--text">Come visit us at <br/> <strong>SpringIn Building, Shen Zhen,</strong> <br/> SZ 93459</p>
                        <button type="button" class="am-btn am-btn-secondary">See the Map</button>
                    </div>
                </div>
            </div>
        </div>
        <!--index-container end-->
    </div>
</div>

<!--===========layout-container================-->
<div th:fragment="footer2">
<center>
<p>Copyright © 2017 -
<script type="text/javascript">
document.write(new Date().getFullYear());
</script> SpringIn.
<a target="_blank" href="#" rel="noopener nofollow" title="All Rights Reserved.">All Rights Reserved.</a>
</p>
<p>春天里公司
<a target="_blank" href="#" rel="noopener nofollow" title="版权所有">版权所有</a>
<a target="_blank" href="#" rel="noopener nofollow" title="春天里网络文化经营许可证">春天里网络文化经营许可证</a>
</p>
</center>
</div>
<script th:src="@{/assets/js/jquery-2.1.0.js}" charset="utf-8"></script>
<script th:src="@{/assets/js/amazeui.js}" charset="utf-8"></script>
<script th:src="@{/assets/js/common.js}" charset="utf-8"></script>
</body>

</html>
