<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <script type="text/javascript" th:src="@{/assets/js/jquery.js}"></script>

<link th:href="@{/assets}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>

</head>


<body>
    <div th:fragment="right"  name="rightFrame" id="rightFrame" title="rightFrame" >

        <div class="mainindex">

        <div class="welinfo">
        <span><img th:src="@{/assets/images/sun.png}" alt="天气"/></span>
        <b>Admin早上好，欢迎使用信息管理系统！</b>
        <a href="#">帐号设置</a>
        </div>

        <div class="welinfo">
        <span><img th:src="@{/assets/images/time.png}" alt="时间" /></span>
        <i>您上次登录的时间：2013-10-09 15:22</i> （不是您登录的？<a href="#">请点这里</a>）
        </div>

        <div class="xline"></div>

        <ul class="iconlist">

        <li><img th:src="@{/assets/images/ico01.png}" /><p><a href="#">管理设置</a></p></li>
        <li><img th:src="@{/assets/images/ico03.png}" /><p><a href="#">数据统计</a></p></li>
        <li><img th:src="@{/assets/images/ico04.png}" /><p><a href="#">文件上传</a></p></li>
        <li><img th:src="@{/assets/images/ico05.png}" /><p><a href="#">目录管理</a></p></li>
        <li><img th:src="@{/assets/images/ico06.png}" /><p><a href="#">查询</a></p></li>

        </ul>

        <div class="xline"></div>
        <div class="box"></div>

        <div class="welinfo">
        <span><img th:src="@{/assets/images/dp.png}" alt="提醒" /></span>
        <b>使用指南</b>
        </div>

        <ul class="infolist">
        <li><a class="ibtn">系统管理</a></li>
        <li><a class="ibtn">账户管理</a></li>
        </ul>

        <div class="xline"></div>

        <div class="info"><b>更多问题</b></div>

        <ul class="umlist">
            <li><a href="#">如何管理用户</a></li>
            <li><a href="#">如何管理电影</a></li>
            <li><a href="#">如何管理评论</a></li>
            <li><a href="#">系统设置</a></li>
        </ul>

        </div>
    </div>
</body>
</html>
