<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加电影</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="js/select-ui.min.js"></script>
<script type="text/javascript" src="editor/kindeditor.js"></script>

<script type="text/javascript">
    KE.show({
        id : 'content7',
        cssPath : './index.css'
    });
</script>
  
<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
		width : 345			  
	});
	$(".select2").uedSelect({
		width : 167  
	});
	$(".select3").uedSelect({
		width : 100
	});
});
</script>

</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
	    <li><a href="#">首页</a></li>
	    <li><a href="#">系统设置</a></li>
    </ul>
  </div>
    
  <div class="formbody">
	  <div id="usual1" class="usual">  
    <div class="itab">
  	<ul> 
	    	<li><a href="#tab1" class="selected">添加电影</a></li> 
	  	</ul>
    </div> 
    
  	<div id="tab1" class="tabson">
    
    <div class="formtext">Hi，<b>admin</b>，欢迎您使用添加电影功能！</div>
    
    <ul class="forminfo">
    <li><label>电影封面<b>*</b></label><input name="" type="text" class="dfinput" value="点击上传图片"  style="width:200px;"/></li>
    <li><label>电影名<b>*</b></label><input name="" type="text" class="dfinput" value=""  style="width:200px;"/></li>
   
		<li><label>电影类型<b>*</b></label>
    <div class="vocation">
    <select class="select1">
    <option>恐怖片</option>
    <option>动作片</option>
    <option>科幻片</option>
    <option>爱情片</option>
    <option>其他</option>
    </select>
    </div>
    </li>
    
    <li><label>导演<b>*</b></label><input name="" type="text" class="dfinput" value=""  style="width:200px;"/></li> 
    
    <li><label>主演<b>*</b></label><input name="" type="text" class="dfinput" value=""  style="width:200px;"/></li> 
    
    <li><label>地区<b>*</b></label>
    <div class="vocation">
    <select class="select1">
    <option>中国</option>
    <option>美国</option>
    <option>日本</option>
    <option>韩国</option>
    <option>中国（香港）</option>
    <option>中国（台湾）</option>
    <option>法国</option>
    <option>英国</option>
    <option>其他</option>
    </select>
    </div>
    </li>
    
    <li><label>链接<b>*</b></label><input name="" type="text" class="dfinput" value=""  style="width:200px;"/></li> 

    
    </div>

    <li><a href="movietable.html"><label>&nbsp;</label><input name="" type="button" class="btn" value="马上添加"/></a></li>
    
    </ul>
    
    </div> 
       
	</div> 
 
	<script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
	</script>
    
  <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
    
    </div>

</body>
</html>
