<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>SpringIn Movies 还记得许多年前的春天吗？</title>
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/common.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/index.min.css}" />
</head>
<body>
<script th:src="@{/js/jquery-3.3.1.min.js}" type="text/javascript"></script>
<form id="tmp">
    <label id="name" >呼声</label>
    <input type="text" id="textarea"/>
    <input type="button" id="getVal" th:text="btn"/>
</form>
<script th:src="@{/movie/movieManager.js}" type="text/javascript"></script>
</body>
</html>