<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>SpringIn Movies 还记得许多年前的春天吗？</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/common.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/news.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/index.min.css}" />
    <style type="text/css">
        .promo_detailed--list > li{
            display: block;
            /*height:55px;*/
            margin-top: 25px;
            margin-bottom: 25px;
            /*margin:25px*/
        }
        .description:hover{
            overflow:scroll;
        }
    </style>
</head>
<body>

  <div class="layout">
    <!--===========layout-header================-->
      <div class="layout-header am-hide-sm-only">
      <div th:include="fragment/header::header"/>
      </div>


    <!--===========layout-container================-->
      <div class="section news-section">
          <tr th:if="${count} gt 0"  th:each="movie:${movies}">
          <div class="container">
              <div class="am-u-md-9" style="display: -webkit-box;">
                  <div class="am-u-md-6">
                      <div class="promo_detailed--cta">
                          <img th:src="${movie.image_url}" style="width:300px;height:400px"></img>
                      </div>
                  </div>

                  <div class="am-u-md-6">
                      <ul class="promo_detailed--list" style="list-style-type:none;display:block;list-style-type:none;">
                          <li class="promo_detailed--list_item">
                              <span style="font-weight:bold">电影名：<a th:href="${'/movie/movies/movieDetails/'+movie.id+'/'+1}"><i th:text="${movie.movie_name}"></i></a></span>

                          </li>
                          <li class="promo_detailed--list_item">
                              <span style="font-weight:bold">导演：<i th:text="${movie.director}"></i></span>

                          </li>
                          <li class="promo_detailed--list_item">
                              <span style="font-weight:bold">主演：<i style="width:300px;display:block;overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;" th:text="${movie.star}"></i></span>

                          </li>
                          <li class="promo_detailed--list_item">
                              <span style="font-weight:bold">地区：<i th:text="${movie.area}"></i></span>

                          </li>
                          <li class="promo_detailed--list_item">
                              <span style="font-weight:bold">时长：<i th:text="${movie.duration}"></i></span>

                          </li>
                          <li class="promo_detailed--list_item">
                              <span style="font-weight:bold">电影类型：<i th:text="${movie.type}"></i></span>

                          </li>
                          <li class="promo_detailed--list_item">
                              <span style="font-weight:bold">上映日期：<i th:text="${movie.time}"></i></span>

                          </li>
                          <li class="promo_detailed--list_item">
                              <span style="font-weight:bold">评分：<i th:text="${movie.rating}"></i></span>

                          </li>
                      </ul>
                  </div>

                  <div style="margin-top:25px; margin-bottom: 25px;width:33%;height:320px">
                      <p style="color: #006400;font-weight:bold">剧情简介....</p>
                      <!--<li style="list-style: none;margin: 0px;padding-left: 25px;text-indent: -25px;">-->
                      <p class="description" style="text-align: left;margin: 0px;padding: 0px;display: -webkit-box;overflow:hidden;text-overflow:
                          ellipsis;-webkit-line-clamp: 16;-webkit-box-orient: vertical;" th:text="${movie.mabstract}">
                      </p>

                      <!--</li>-->
                  </div>
              </div>

          </div>
              <hr></hr>
          </tr>

          <tr th:if="${count} le 0">
              <div class="container" style="text-align: center">
                  <h style="font-size: 15px;">抱歉，未找到该搜索结果，</h><a th:href="${'/movie/home'}">点此返回首页</a>
              </div>
          </tr>

      </div>


  </div>





    <div class="pagin" style="height: 50px">
        <div class="message">共<i class="blue" th:text="${count}"></i>条记录，当前显示第&nbsp;<i class="blue" th:text="${pageBean.getCurrentPage()}">&nbsp;</i>页</div>
        <ul class="paginList">
            <li class="paginItem" th:if="${pageBean.getCurrentPage() - 1 gt 0}"><a th:href="${'/movie/movies/movieListByUser/'+ searchContent+'/'+(pageBean.getCurrentPage() - 1)}"><span class="pagepre"></span></a></li>
            <li class="paginItem" ><a th:href="${'/movie/movies/movieListByUser/'+ searchContent+'/'+1}">首页</a></li>
            <li class="paginItem" th:if="${pageBean.getCurrentPage() - 2 gt 0}"><a th:href="${'/movie/movies/movieListByUser/'+ searchContent+'/'+ (pageBean.getCurrentPage() - 2)}" th:text="${pageBean.getCurrentPage() - 2}"></a></li>
            <li class="paginItem" th:if="${pageBean.getCurrentPage() - 1 gt 0}"><a th:href="${'/movie/movies/movieListByUser/'+ searchContent+'/'+ (pageBean.getCurrentPage() - 1)}" th:text="${pageBean.getCurrentPage() - 1}"></a></li>
            <li class="paginItem current"><a th:href="${'/movie/movies/movieListByUser/'+ searchContent+'/'+ pageBean.getCurrentPage()}" th:text="${pageBean.getCurrentPage()}" disabled="true" onclick="false"></a></li>
            <li class="paginItem"  th:if="${(pageBean.getCurrentPage() + 1) le pageBean.pageCount}"><a th:href="${'/movie/movies/movieListByUser/'+ searchContent+'/'+ (pageBean.getCurrentPage() + 1)}" th:text="${pageBean.getCurrentPage() + 1}"></a></li>
            <li class="paginItem" th:if="${(pageBean.getCurrentPage() + 2) le pageBean.pageCount}"><a th:href="${'/movie/movies/movieListByUser/'+ searchContent+'/'+ (pageBean.getCurrentPage() + 2)}" th:text="${pageBean.getCurrentPage() + 2}"></a></li>
            <li class="paginItem"><a th:href="${'/movie/movies/movieListByUser/'+ searchContent+'/'+ pageBean.pageCount}">末页</a></li>
            <li class="paginItem" th:if="${pageBean.getCurrentPage()+1 le pageBean.pageCount}"><a th:href="${'/movie/movies/movieListByUser/'+ searchContent+'/'+ (pageBean.getCurrentPage() + 1)}"><span class="pagenxt" ></span></a></li>
        </ul>
    </div>






  <!--===========layout-container================-->
  <div class="layout-footer">
    <div class="footer">
      <div style="background-color:#383d61" class="footer--bg"></div>
      <div class="footer--inner">
        <div class="container">
          <div class="footer_main">
            <div class="am-g">
              <div class="am-u-md-3 ">
                <div class="footer_main--column">
                  <strong class="footer_main--column_title">关于我们</strong>
                  <div class="footer_about">
                      <p class="footer_about--text">
                          一个全球领先的电影推荐网站，由春天里研发团队于2018年3月建立。

                      </p>
                    </div>
                </div>
              </div>

                <div class="am-u-md-3 ">
                    <div class="footer_main--column">
                        <strong class="footer_main--column_title">推荐中心</strong>
                        <ul class="footer_navigation">
                            <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">Enterplorer 电影推荐首页</a></li>
                        </ul>
                    </div>
                </div>

                <div class="am-u-md-3 ">
                    <div class="footer_main--column">
                        <strong class="footer_main--column_title">技术支持</strong>
                        <ul class="footer_navigation">
                            <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">网站开发白皮书</a></li>
                        </ul>
                    </div>
                </div>

              <div class="am-u-md-3 ">
                <div class="footer_main--column">
                  <strong class="footer_main--column_title">联系详情</strong>
                  <ul class="footer_contact_info">
                    <li class="footer_contact_info--item"><i class="am-icon-phone"></i><span>服务专线：400 069 0309</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/assets/js/jquery-2.1.0.js}" charset="utf-8"></script>
  <script th:src="@{/assets/js/amazeui.js}" charset="utf-8"></script>
  <script th:src="@{/assets/js/common.js}" charset="utf-8"></script>
</body>

</html>
