<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>电影列表</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/searchbox.css}"/>
    <script type="text/javascript" th:src="@{/assets/js/jquery.js}"></script>
    <script language="javascript">
        $(function(){
            //导航切换
            $(".imglist li").click(function(){
                $(".imglist li.selected").removeClass("selected")
                $(this).addClass("selected");
            })
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".click").click(function(){
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function(){
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function(){
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function(){
                $(".tip").fadeOut(100);
            });

        });
    </script>
</head>


<body >

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="/movie/home">首页</a></li>
        <li><a href="/movie/movies/getAllMovies">电影列表</a></li>
    </ul>
</div>

<div class="rightinfo">

    <div class="tools">

        <ul class="toolbar">
            <li><a href="/movie/movies/addMovieInfo"><span><img th:src="@{/assets/images/movies/t01.png}"/></span>添加</a></li>
            <li class="click"><span><img th:src="@{/assets/images/movies/t03.png}"/></span>删除</li>
        </ul>

        <div class="search bar" style="float: right">
            <form th:async="true" action="/movie/movies/search" method="post">
                <input type="text" id="searchContent" th:name="searchContent" style="font-size: 17px"/>
                <button type="submit" value="搜索">
                </button>
            </form>
        </div>
    </div>


    <table class="imgtable">

        <thead>
        <tr style="height: 40px;font-size: 20px" >
            <!--<th><input name="" type="checkbox" value="" checked="checked"/></th>-->
            <!--<th width="100px;"></th>-->
            <th style="width:10%">电影名</th>
            <th style="width:5%">类型</th>
            <th style="width:20%">导演</th>
            <th style="width:20%">主演</th>
            <th style="width:10%">地区</th>
            <th style="width:5%">时长</th>
            <th style="width:20%">链接</th>
            <th style="width:10%">操作</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="movie:${movies}" style="height: 40px;font-size: 20px" >
            <!--<div th:value="${movie.id}" >-->
            <div>
                <!--<td><input name="" type="checkbox" value="" /></td>-->
                <!--<td class="imgtd"><img th:src="@{/assets/images/movies/img11.png}" /></td>-->
                <td><a href="#" th:text="${movie.movie_name}"></a></td>
                <td th:text="${movie.type}"></td>
                <td th:text="${movie.director}" > </td>
                <td th:text="${movie.star}" style="width:500px;display:block;overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;"></td>
                <td th:text="${movie.area}"></td>
                <td th:text="${movie.duration}"></td>
                <td th:text="${movie.download_url}"></td>
                <!--th:href="${'/movie/movies/delete/'+movie.id}" -->
                <td><a class="tablelink" href="javascript:;" th:onclick="'deleteAction(\''+${movie.id}+'\');'">删除</a>
                    <a th:href="${'/movie/movies/updateMovie/'+ movie.id}" class="tablelink">修改</a>
                </td>
            </div>
        </tr>



        </tbody>

    </table>


    <script th:src="@{/movie/movie_manage.js}" type="text/javascript"></script>



    <div class="pagin">
        <div class="message">共<i class="blue" th:text="${count}"></i>条记录，当前显示第&nbsp;<i class="blue" th:text="${pageBean.getCurrentPage()}">&nbsp;</i>页</div>
        <ul class="paginList">
            <!--<<<<<<< HEAD-->
            <!--<li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>-->
            <!--<li class="paginItem"><a href="javascript:;">1</a></li>-->
            <!--<li class="paginItem current"><a href="javascript:;">2</a></li>-->
            <!--<li class="paginItem"><a href="javascript:;">3</a></li>-->
            <!--<li class="paginItem"><a href="javascript:;">4</a></li>-->
            <!--<li class="paginItem"><a href="javascript:;">5</a></li>-->
            <!--<li class="paginItem more"><a href="javascript:;">...</a></li>-->
            <!--<li class="paginItem"><a href="javascript:;">10</a></li>-->
            <!--<li class="paginItem"><a href="javascript:;"><span class=""></span></a></li>-->
            <!--=======-->
            <li class="paginItem" th:if="${pageBean.getCurrentPage() - 1 gt 0}"><a th:href="${'/movie/movies/search/'+ searchContent+'/'+(pageBean.getCurrentPage() - 1)}"><span class="pagepre"></span></a></li>
            <li class="paginItem" ><a th:href="${'/movie/movies/search/'+ searchContent+'/'+1}">首页</a></li>
            <li class="paginItem" th:if="${pageBean.getCurrentPage() - 2 gt 0}"><a th:href="${'/movie/movies/search/'+ searchContent+'/'+ (pageBean.getCurrentPage() - 2)}" th:text="${pageBean.getCurrentPage() - 2}"></a></li>
            <li class="paginItem" th:if="${pageBean.getCurrentPage() - 1 gt 0}"><a th:href="${'/movie/movies/search/'+ searchContent+'/'+ (pageBean.getCurrentPage() - 1)}" th:text="${pageBean.getCurrentPage() - 1}"></a></li>
            <li class="paginItem current"><a th:href="${'/movie/movies/search/'+ searchContent+'/'+ pageBean.getCurrentPage()}" th:text="${pageBean.getCurrentPage()}" disabled="true" onclick="false"></a></li>
            <li class="paginItem"  th:if="${(pageBean.getCurrentPage() + 1) le pageBean.pageCount}"><a th:href="${'/movie/movies/search/'+ searchContent+'/'+ (pageBean.getCurrentPage() + 1)}" th:text="${pageBean.getCurrentPage() + 1}"></a></li>
            <li class="paginItem" th:if="${(pageBean.getCurrentPage() + 2) le pageBean.pageCount}"><a th:href="${'/movie/movies/search/'+ searchContent+'/'+ (pageBean.getCurrentPage() + 2)}" th:text="${pageBean.getCurrentPage() + 2}"></a></li>
            <li class="paginItem"><a th:href="${'/movie/movies/search/'+ searchContent+'/'+ pageBean.pageCount}">末页</a></li>
            <li class="paginItem" th:if="${pageBean.getCurrentPage()+1 le pageBean.getEndPageIndex()}"><a th:href="${'/movie/movies/search/'+ searchContent+'/'+ (pageBean.getCurrentPage() + 1)}"><span class="pagenxt" ></span></a></li>
        </ul>
    </div>


</div>

<div class="tip">
    <div class="tiptop"><span>提示信息</span><a></a></div>

    <div class="tipinfo">
        <div class="tipright">
            <p>确定删除？</p>
        </div>
    </div>

    <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
    </div>

</div>

<script type="text/javascript">
    $('.imgtable tbody tr:odd').addClass('odd');
</script>
</body>
</html>
