<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>SpringIn Movies 还记得许多年前的春天吗？</title>
  <link rel="stylesheet" th:href="@{/assets/css/amazeui.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/common.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/index.min.css}" />
</head>
<body>
  <div class="layout">
    <!--===========layout-header================-->
      <div th:include="fragment/header::header"/>

      <div th:include="fragment/footer1::main_content"/>
      <div th:include="fragment/footer1::helper"/>
  </div>

  <div th:include="fragment/footer1::movie_service"/>


  <div th:include="fragment/footer1::footer1"/>

  <div th:include="fragment/footer1::footer2" />
  
  <script th:src="@{/assets/js/jquery-2.1.0.js}" charset="utf-8"></script>
  <script th:src="@{/assets/js/amazeui.js}" charset="utf-8"></script>
  <script th:src="@{/assets/js/common.js}" charset="utf-8"></script>
</body>

</html>
